.bettingType {
  width: 16em;
}

.bettingAmount{
  padding-left: 5em;
  float: right;
}

#betting-type-field, #betting-amount-field, #addBetting{
  margin-left: 0.5em;
  width: 9em;
}

 #addBetting {
   position:absolute;
   top: 80%;
 }

 /*#ballance {
   float: right;
 }*/
