/* Dropdown Button */
.droplocbtn {
	background-color: transparent;
	color: #9d9d9d;
	padding: 13px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	min-width: 40px;
	font-family: Arial;
}

/* The container <div> - needed to position the dropdown content */
.droplocdown {
	position: relative;
	display: inline-block;
	font-family: Arial;
	width: auto;
}

/* Dropdown Content (Hidden by Default) */
.droplocdown-content {
	width: inherit;
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.droplocdown-content a {
	height: 50px;
	padding: 13px;
	color: black;
	min-width: 30px;
	text-decoration: none;
	text-align: center;
	display: block;
	color: black;
	background-color: #ffffff;
}

/* Change color of dropdown links on hover */
.droplocdown-content a:hover {
	background-color: #4CAF50;
	color: white;
}

/* Show the dropdown menu on hover */
.droplocdown:hover .droplocdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.droplocdown:hover .droplocbtn {
	color: white; 
	//background-color: #4CAF50;
}