.modal .modal-dialog {
  width: 500px;
  margin: 10vh auto;
}

.modal-header, h4, .close {
    background-color: #222;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-header {
  padding:15px 20px;
}

.modal-body {
  padding: 20px 70px;
}

.modal-footer {
    background-color: #555;
}

.addition {
  text-align: right;
}

.addition a {
  border-bottom: 1px dotted blue;
  font-size: 1em;
}

.addition a:hover {
  text-decoration: none;
  color: #222;
}

#addBettingModal > .modal-dialog {
  width: 740px;
  margin: 10vh auto;
}

#addCompetitionModal > .modal-dialog {
  width: 88vw;
  margin: 10vh auto;
}