input:not([type="submit"]):invalid {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(255, 0, 0, 0.80);
}

input:not([type="submit"]):valid {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(0, 255, 0, 0.80);
}
/*input:invalid[name=firstName] + span::after {
			content: "Field must be filled";
      color: red;
		}
    */
.message {
	display: none;
}

input:not([type="submit"]):invalid+span {
	display: inline;
	color: red;
}